main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #8c1b1b;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*ESTILO PARA NUESTRA WEB*/

.contenido-cabecera {
    background-color: red;
    padding: 0%;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 1000;
}

.contenido-cabecera h1 {
    color: white;
    font-size: 250%;
    font-family: 'Verdana', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marco {
    background-color: #cfe2f3;
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 10%;
    display: inline-block;
    margin-top: 10%;
    overflow: hidden; /* Evita que el contenido desborde el div */
}

h1.PaginaDeInicio {
  font-weight: bold;
  color: white;
  font-size: px; /* Puedes ajustar el tamaño según tus preferencias */
  text-align: center;
}

h2 {
    font-weight: bold;
    color: black;
    font-size: 90px; /* Puedes ajustar el tamaño según tus preferencias */
    text-align: center;
  }

body {
  background-image: url('../ImagenesVideos/fondoPaginaDeInicio2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed ;
}

p.PaginaDeInicio {
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
}

p.subrayado {
  font-weight: bold;
  color: yellow;
  text-align: center;
  font-size: 16px; /* Puedes ajustar el tamaño según tus preferencias */
}

  
  /* Añade un contenedor principal para centrar el div */
#contenedor-principal {
    text-align: center;
    margin: 20px auto; /* Ajusta el espacio alrededor del contenedor principal y centra en la página */
  }

    /* Añade un contenedor principal para centrar el div */
#contenedor-izquierda {
    text-align: center;
    margin: 20px auto; /* Ajusta el espacio alrededor del contenedor principal y centra en la página */
}

#contenedor-izquierda > * {
    margin-left: 0; /* Establece el margen izquierdo a 0 para pegar los elementos a la izquierda */
}
  
.botones-Linea {
    text-align: center; /* Alinea los botones al centro */
}

a.boton {
    display: inline-block; /* Muestra los botones en línea */
    margin: 0 10px; /* Ajusta el margen entre los botones según sea necesario */
    padding: 10px 20px; /* Ajusta el espacio interno del botón según sea necesario */
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center; /* Centra el texto dentro del botón */
    border: 2px solid #000; /* Borde negro */
  }

a.boton:hover {
  background-color: #ddd;
}

/* Estilos para el botón con la clase 'botonInicioSesion' */
.botonFormulario {
    display: inline-block; /* Muestra los botones en línea */
    margin: 0 10px; /* Ajusta el margen entre los botones según sea necesario */
    padding: 10px 20px; /* Ajusta el espacio interno del botón según sea necesario */
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center; /* Centra el texto dentro del botón */
    border: 2px solid #000; /* Borde negro */

}

.botonFormularion:hover {
    background-color: #ddd;
}

/* Estilo para las etiquetas con la clase 'campo-label' */
.campoTitulo {
    text-align: center;
    display: block;
    font-weight: bold;
}

.campo {

    border: 1.5px solid black;
    text-align: center;
    margin: auto; /* Asegura que el campo esté centrado horizontalmente */
    display: block; /* Evita que el margen automático cause problemas en algunos contextos */
    width: 450px; /* Ajusta el valor según tus preferencias */
    

}

.help-block {
    color: red; /* Establece el color rojo para los mensajes de error */
    margin-top: 5px; /* Ajusta el espacio superior para separar el mensaje del campo */
}

.error-message {
    font-weight: bold;
    color: red;
}


/* Estilo para la tabla */
.tabla {
    border-collapse: collapse;
    width: 100%;
}

/* Estilo para las celdas de la tabla */
.tabla th, .tabla td {
    border: 1px solid #000; /* Cambiado a negro */
    padding: 8px;
    text-align: center; /* Centrar el contenido */
}

/* Estilo para la cabecera de la tabla */
.tabla th {
    background-color: #f2f2f2;
}

/* Nueva clase para botones pequeños */
.botonPequeño {
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen según tus preferencias */
    padding: 5px 10px; /* Ajusta el espacio interno del botón pequeño según sea necesario */
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center; /* Centra el texto dentro del botón pequeño */
    border: 2px solid #000; /* Borde negro */
}

/* Estilo adicional para resaltar en hover */
.botonPequeño:hover {
    background-color: #ddd;
}



/* Estilo para el contenedor principal de las ligas */
.contenedor-ligas {
    text-align: center; /* Centra los elementos hijos */
}

.liga-container {
    background-color: rgba(152, 196, 240, 0.8); /* Color con opacidad */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px; /* Añade un relleno al contenedor según tus necesidades */
    border-radius: 8px; /* Añade bordes redondeados al contenedor */
    margin: 10px 300px;
}


.liga-content {
    flex: 1; /* Hace que este div ocupe el espacio restante */
}

.marco2 {
    background-color: #cfe2f3;
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 10%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10%;
    text-align: center; /* Centra el contenido del contenedor */
}

.marco2 a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000;
    font-weight: bold;
}

.marco2 a:hover {

    color: red; /* Cambia el color del texto a rojo cuando el cursor está encima del enlace */
}



.liga-image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; /* Ajusta el margen para centrar horizontalmente */
    border: 2px solid #000; /* Borde negro para resaltar */
}



.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.imagenPrincipal {
    width: 20%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
    margin-left: 7%;
    margin-bottom: 1%;
    border: 2px solid #000;
}

.enlaces {
    display: flex;

}

/* Estilos para los enlaces */
.enlaces a {
    display: inline-block;
    margin-right: 26.6%;
    margin-bottom: 3%;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Puedes ajustar según tus preferencias */
}

/* Estilos adicionales solo para el primer enlace */
.enlaces a:first-child {
    margin-left: 15%; /* Ajusta el margen solo para el primer enlace */
}

/* Estilos adicionales solo para el último enlace */
.enlaces a:last-child {
    margin-left: -1.4%; /* Ajusta el margen solo para el primer enlace */
}

/* Cambia el color del texto al pasar el mouse sobre los enlaces */
.enlaces a:hover {
    color: #ff0000; /* Rojo al pasar el ratón */
}


.enlaces1 {
    display: flex;

}
/* Estilos para los enlaces */
.enlaces1 a {
    display: inline-block;
    margin-right: 24%;
    margin-bottom: 3%;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Puedes ajustar según tus preferencias */
}

/* Estilos adicionales solo para el primer enlace */
.enlaces1 a:first-child {
    margin-left: 13%; /* Ajusta el margen solo para el primer enlace */
}

/* Estilos adicionales solo para el último enlace */
.enlaces1 a:last-child {
    margin-left: 0.5%; /* Ajusta el margen solo para el primer enlace */
}

/* Cambia el color del texto al pasar el mouse sobre los enlaces */
.enlaces1 a:hover {
    color: #ff0000; /* Rojo al pasar el ratón */

}

/* Estilo para cada cuadro que contiene una liga y sus equipos */
.liga-container2 {
    background-color: rgba(152, 196, 240, 0.8); /* Color con opacidad */
    padding: 10px; /* Añade un relleno al contenedor según tus necesidades */
    border-radius: 8px; /* Añade bordes redondeados al contenedor */
    margin: 10px auto; /* Centra horizontalmente el contenedor */
}

/* Estilo para el título de la liga */
.liga-title2 {
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 10px; /* Espacio entre el título y los equipos */
}

/* Estilo para la fila que contiene los equipos */
.liga-equipos2 {
    display: flex; /* Usa flexbox para alinear los equipos en una fila */
    flex-wrap: wrap; /* Permite que los equipos se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: center; /* Centra los equipos horizontalmente */
}

/* Estilo para cada equipo */
.equipo-container2 {
    width: 200px; /* Ancho del contenedor del equipo */
    margin: 10px; /* Espacio entre los equipos */
    text-align: center; /* Centra el contenido del equipo */
}

.tituloNegro {
    color: white; /* Color del texto */
    background-color: black; /* Color de fondo */
    padding: 10px; /* Ajuste de relleno */
    text-align: center; /* Centrar el texto */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 3%;
}

#botonArriba {
    margin-top: 10%; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 7%;
}

.enlace-equipo {
    color: black; /* Color de texto negro */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.enlace-equipo:hover {
    color: red; /* Color de texto rojo al pasar el mouse */
}


/* Estilo para cada cuadro que contiene una liga y sus equipos */
.liga-container3 {
    background-color: rgba(152, 196, 240, 0.8); /* Color con opacidad */
    padding: 10px; /* Añade un relleno al contenedor según tus necesidades */
    border-radius: 8px; /* Añade bordes redondeados al contenedor */
    margin-top: 8%; /* Centra horizontalmente el contenedor */
}

.estadisticas-container {
    display: flex;
}

.estadistica {
    flex: 1;
    border: 1px solid black;
    padding: 0.5%; /* Ajusta el padding según sea necesario */
    margin: 1%;
}

.estadistica h3 {
    color: red;
}

.estadistica p {
    font-weight: bold;
}
